<div class="center jumbotron">
  <div class="container">
    <h1>Welcome to ToDos</h1>
    <h2>Sverige urskiljde sig som en oberoende och enad stat under medeltiden.</h2>
    <div class="text-center">
      <%= link_to "Sign up!", signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>